<div id="<%= dom_id team %>" class= "text-gray-300">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= team.organization.name %>
  </p>
</div>
