<div data-toggle-target="notificationCard" class=" hidden rounded-md font-semibold capitalize bg-gray-600 w-96 h-fit p-4 absolute right-0 mt-4">
  <ul>
    <li class="mb-6">
      Notificaton one
    </li>
    <li>
      Notificaton two
    </li>
  </ul>
</div>