<aside data-toggle-target="sidebar" class =" <%="fixed" if controller_name =="dashboard" %> h-screen hidden bg-gray-700 w-32 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <a href="/" class=" hover:text-gray-800  " >
        Home
      </a>
    </li>
    <li class="mt-6">
      <a href="/dashboard" class=" hover:text-gray-800  " >
        Dashboard
      </a>
    </li>
    <li class="mt-6">
      <a href="/projects" class=" hover:text-gray-800 ">
        Project
      </a>
    </li>
    <li class="mt-6">
      <a href="/calendar" class=" hover:text-gray-800 ">
        Calendar
      </a>
    </li>
    <%if current_user.organization_owner? %>
      <li class="mt-6">
        <a href="/organization_users" class=" hover:text-gray-800 ">
          Users
        </a>
      </li>
    <% end %>
    <li class="mt-6">
      <a href="/teams" class=" hover:text-gray-800 ">
        Teams
      </a>
    </li>
  </ul>
</aside>