<aside data-toggle-target="sidebar" class ="hidden bg-gray-700 w-32 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <a href="/" class=" hover:text-gray-800  " >
        Home
      </a>
    </li>
    <li class="mt-6">
      <a href="/dashboard" class=" hover:text-gray-800  " >
        Dashboard
      </a>
    </li>
    <li class="mt-6">
      <a href="/projects" class=" hover:text-gray-800 ">
        Project
      </a>
    </li>
  </ul>
</aside>