<div data-controller= "toggle" class="h-screen bg-gray-900">
  <%= render "admin_nav" %>
  <div class="flex h-full">
    <%= render "sidebar" %>
    <main class ="text-gray-200">
      <h2> this is the main</h2>
    </main>
  </div>
</div>