<div class ="bg-gray-300 mt-6 p-2 mx-auto size-fit">
  <%= calendar(number_of_days: 2, events: @tasks, attribute: :due_date) do |date,tasks| %>
    <%= date %>
    <%tasks.each do |task| %>
      <div class="p-1 border-2">
        <%= link_to task.name, project_path(task.project) %>
      </div>
    <% end %>
  <% end %>
</div>
