<div class="mt-2">
  <%= search_form_for @q,  url: project_path(@project) do |f| %>
    <div class="flex">
      <%= f.search_field :name_cont, class: "rounded-md text-xs" ,placeholder: "search task name" %>
      <button type="submit" class= " text-gray-300 cursor-pointer">
        <%= inline_svg_tag("search.svg") %>
      </button>
    </div>
  <% end %>
</div>
